<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
</head>
<body>
	<div class="container-fluid" style="display: flex; width:100%; height:100vh; padding:0; flex-direction: column; justify-content: space-between; align-items: center;">
		<header>
			<h1>新闻资讯</h1>
		</header>
		